
.icon-th-list:before { content: '\2630'; } /* '☰' */
.icon-post:before { content: '\e82c'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */