<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring-library-workshop: books</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_big-stone.css" rel="stylesheet">
</head>
<body>
<header>
    <div th:insert="~{menu::header}">
    </div>
</header>

<main style="background-color: #072B4F">
    <section style="margin-left: 10px;">
        <form method="POST" th:action="@{/authors/update/__${authorToUpdate.id}__}" th:object="${authorToUpdate}">
            <h3>Edit author:</h3>
            <fieldset>
                <input th:field="*{name}" type="text">
                <input th:field="*{lastName}" type="text">
            </fieldset>
            <button type="submit">Save</button>
            <a th:href="@{/authors/__${authorToUpdate.id}__}">
                <button >Cancel</button>
            </a>
        </form>

        <h3>Author of books:</h3>
        <div th:each="book: ${authorToUpdate.books}">
            <p><a th:href="@{/books/{bookId}(bookId=${book.id})}" th:text="${book.title}"></a>
            </p>
        </div>
        <br><br>
    </section>
</main>
</body>
</html>