<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring-library-workshop: books</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_big-stone.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <script type="text/javascript"
            th:src="@{/scripts.js}" >
    </script>
</head>
<body onload="loadState()">
<header>
    <div th:insert="~{menu::header}">
    </div>
</header>

<main>
    <section>

        <form id="form" method="POST" th:action="@{/books}" onsubmit="return validateIdValueIfObjectIsNew()"
              th:object="${bookToCreate}">

            <fieldset>
                <legend th:text="'Book\'s title'"></legend>
                <label>
                    <input placeholder="Enter title of new book" th:field="*{title}" type="text">
                </label>
            </fieldset>

            <fieldset>
                <legend th:text="Section"></legend>
                <label for="sectionCheckbox" id="label-sectionCheckbox">Existing section</label>
                <label class="switch">
                    <input id="sectionCheckbox" onchange="changeLabelAndInputFields(this.id)"
                           th:field="*{section.newSection}" type="checkbox">
                    <span class="slider round"></span>
                </label>

                <div id="1Input-sectionCheckbox">
                    <label>Section's id number
                        <input id="id-sectionCheckbox" placeholder="Enter id number of existing section"
                               th:field="*{section.id}" type="number">
                    </label>
                </div>
                <div id="2Input-sectionCheckbox" style="display:none">
                    <label>Section's name
                        <input placeholder="Enter name for new section" th:field="*{section.name}" type="text">
                    </label>
                </div>
            </fieldset>

            <fieldset>
                <legend th:text="Authors"></legend>
                <fieldset th:each="author,authorStat : *{authors}">
                    <label th:for="'authorCheckbox'+${authorStat.index}"
                           th:id="'label-authorCheckbox'+${authorStat.index}">Existing
                        author</label>
                    <label class="switch">
                        <input onchange="changeLabelAndInputFields(this.id)"
                               th:field="*{authors[__${authorStat.index}__].newAuthor}"
                               th:id="'authorCheckbox'+${authorStat.index}"
                               type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <div th:id="'1Input-authorCheckbox'+${authorStat.index}">
                        <label> Author's id number
                            <input th:id="'id-authorCheckbox'+${authorStat.index}"
                                    th:field="*{authors[__${authorStat.index}__].id}"
                                   th:placeholder="'Enter id number of existing author'" type="number">
                        </label>
                    </div>
                    <div style="display:none" th:id="'2Input-authorCheckbox'+${authorStat.index}">
                        <label> Author's first name
                            <input th:field="*{authors[__${authorStat.index}__].name}"
                                   th:placeholder="'Enter fisrt name for new author'" type="text">
                        </label>
                        <label> Author's last name
                            <input th:field="*{authors[__${authorStat.index}__].lastName}"
                                   th:placeholder="'Enter last name for new author'" type="text">
                        </label>
                    </div>
                    <button name="removeAuthor" th:value="${authorStat.index}" type="submit">Remove&nbsp;author</button>
                </fieldset>
                <button name="addAuthor" type="submit"> Add&nbsp;Author</button>
            </fieldset>

            <fieldset>
                <legend th:text="'Book\'s copies'"></legend>
                <fieldset th:each="bookEdition,bookEditionStat : *{bookEditions}">
                    <label> Year of publication
                        <input placeholder="Enter publication year"
                               th:field="*{bookEditions[__${bookEditionStat.index}__].publicationDate}"
                               type="number">
                    </label>

                    <label th:for="'publisherCheckbox'+${bookEditionStat.index}"
                           th:id="'label-publisherCheckbox'+${bookEditionStat.index}">Existing
                        publisher</label>
                    <label class="switch">
                        <input onchange="changeLabelAndInputFields(this.id)"
                               th:field="*{bookEditions[__${bookEditionStat.index}__].newPublisher}"
                               th:id="'publisherCheckbox'+${bookEditionStat.index}"
                               type="checkbox">
                        <span class="slider round"></span>
                    </label>

                    <div th:id="'1Input-publisherCheckbox'+${bookEditionStat.index}">
                        <label> Publisher's id number
                            <input th:id="'id-publisherCheckbox'+${bookEditionStat.index}"
                                    placeholder="Enter existing publisher's id number"
                                   th:field="*{bookEditions[__${bookEditionStat.index}__].publisher.id}"
                                   type="number">
                        </label>
                    </div>
                    <div style="display: none" th:id="'2Input-publisherCheckbox'+${bookEditionStat.index}">
                        <label> Publisher's name
                            <input placeholder="Enter name for new publisher"
                                   th:field="*{bookEditions[__${bookEditionStat.index}__].publisher.name}"
                                   type="text">
                        </label>
                    </div>

                    <label>Number of copies
                        <input placeholder="Enter number of book's copies to add"
                               th:field="*{bookEditions[__${bookEditionStat.index}__].numberOfCopies}"
                               th:id="'numberOfCopies'+${bookEditionStat.index}"
                               type="number">
                    </label>
                    <button name="removeBookCopy" th:if="${bookEditionStat.size}>1" th:value="${bookEditionStat.index}"
                            type="submit">Remove&nbsp;copy
                    </button>
                </fieldset>
                <button name="addBookCopy" type="submit">Add&nbsp;next&nbsp;copy</button>
            </fieldset>
            <button type="submit">Save Book</button>
            <a href="/books">
                <button type="button">Cancel</button>
            </a>
        </form>
    </section>
</main>
</body>
</html>