<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring-library-workshop: books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_big-stone.css">
</head>
<body>
<header >
    <div th:insert="~{menu::header}">
    </div>
</header>

<main>
    <section>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>Section</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book :${books}">
                <td> <a th:text="${book.getTitle()}"  th:href="@{/books/{bookId}(bookId=${book.getId()})}"></a></td>
                <td>
                    <ul th:each="author : ${book.getAuthors()}">
                        <li>
                            <p  th:text="${author.getName()}"></p>
                            <p th:text="${author.getLastName()}"></p>
                        </li>
                    </ul>
                </td>
                <td th:text="${book.getSection().getName()}"></td>
                <td>
                    <form method="post" th:action="@{/books/{bookId}(bookId=${book.getId()})}">
                        <button type="submit" onClick="return confirm('Book and it\'s all copies will be deleted. \nContinue?')" th:text="Delete"/>
                    </form>
                    <form method="get" th:action="@{/books/{bookId}(bookId=${book.getId()})}" >
                        <button th:text="Edit"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
    <section>
        <nav>
            <ul th:if="${pageNumber == 0}">
                <li th:text="${pageNumber+1}" >
                </li>
                <li th:if="${pageNumber+1 < totalPages}" >
                    <a th:text="${pageNumber+2}" th:href="@{/books?page={page}&size=__${pageSize}__(page=${pageNumber+1})}"></a>
                </li>
                <li th:if="${pageNumber+2 < totalPages}" >
                    <a th:text="${pageNumber+3}" th:href="@{/books?page={page}&size=__${pageSize}__(page=${pageNumber+2})}"></a>
                </li>
                <li th:if="${pageNumber+3 < totalPages}" >
                    <a th:text="${pageNumber+4}" th:href="@{/books?page={page}&size=__${pageSize}__(page=${pageNumber+3})}"></a>
                </li>
                <li th:if="${pageNumber+4 < totalPages}" >
                    <a th:text="${pageNumber+5}" th:href="@{/books?page={page}&size=__${pageSize}__(page=${pageNumber+4})}"></a>
                </li>
            </ul>
            <ul th:if="${pageNumber == 1}">
                <li>
                    <a th:text="${pageNumber}"  th:href="@{/books?page={page}&size=__${pageSize}__(page=${pageNumber-1})}"></a>
                </li>
                <li th:text="${pageNumber+1}">
                </li>
                <li th:if="${pageNumber+1 < totalPages}">
                    <a th:text="${pageNumber+2}"  th:href="@{/books?page={page}&size=__${pageSize}__(page=${pageNumber+1})}"></a>
                </li>
                <li th:if="${pageNumber+2 < totalPages}" >
                    <a th:text="${pageNumber+3}"  th:href="@{/books?page={page}&size=__${pageSize}__(page=${pageNumber+2})}"></a>
                </li>
                <li th:if="${pageNumber+3 < totalPages}" >
                    <a th:text="${pageNumber+4}"  th:href="@{/books?page={page}&size=__${pageSize}__(page=${pageNumber+3})}"></a>
                </li>
            </ul>
            <ul th:if="${pageNumber != 0 && pageNumber!=1}">
                <li>
                    <a th:text="${pageNumber-1}"  th:href="@{/books?page={page}&size=__${pageSize}__(page=${pageNumber-2})}"></a>
                </li>
                <li>
                    <a th:text="${pageNumber}"  th:href="@{/books?page={page}&size=__${pageSize}__(page=${pageNumber-1})}"></a>
                </li>
                <li th:text="${pageNumber+1}">
                </li>
                <li th:if="${pageNumber+1 < totalPages}">
                    <a th:text="${pageNumber+2}"  th:href="@{/books?page={page}&size=__${pageSize}__(page=${pageNumber+1})}"></a>
                </li>
                <li th:if="${pageNumber+2 < totalPages}">
                    <a th:text="${pageNumber+3}"  th:href="@{/books?page={page}&size=__${pageSize}__(page=${pageNumber+2})}"></a>
                </li>
            </ul>

            <ul>
                <li>
                    <a th:if="${pageSize!=5}" th:text="5"  th:href="@{/books?page={page}&size=5(page=${pageNumber})}"></a>
                    <p th:if="${pageSize==5}">5</p>
                </li>
                <li>
                    <a th:if="${pageSize!=10}" th:text="10"  th:href="@{/books?page={page}&size=10(page=${pageNumber})}"></a>
                    <p th:if="${pageSize==10}">10</p>
                </li>
                <li >
                    <a th:if="${pageSize!=20}" th:text="20"  th:href="@{/books?page={page}&size=20(page=${pageNumber})}"></a>
                    <p th:if="${pageSize==20}" >20</p>
                </li>
            </ul>
        </nav>
    </section>
</main>
</body>
</html>