<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring-library-workshop: books</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_big-stone.css" rel="stylesheet">
</head>
<body>
<header>
    <div th:insert="~{menu::header}">
    </div>
</header>

<main style="background-color: #072B4F">
    <section style="margin-left: 10px;">
        <p style="color: darkred;" th:if="${errorMessage}!=null"  th:text="${errorMessage}"> </p>

        <h1 th:text="${book.title}"></h1>
        <div th:each="author: ${book.authors}">
            <p th:text="${author.name}+' '+${author.lastName}"></p>
        </div>
        <div style="margin-top: 30px; margin-bottom: 30px">
            <form method="post" style=" margin-left: 5px" th:action="@{/books/delete/__${book.id}__}">
                <button onClick="return confirm('Book and it\'s all copies will be deleted. \nContinue?')"
                        type="submit">Delete Book
                </button>

                <a  th:href="@{/books/update/__${book.id}__}" style="margin-left: 5px">
                    <button type="button"> Edit Book </button>
                </a>

                <a  th:href="@{/books/__${book.id}__/addEdition}" style="margin-left: 5px">
                    <button type="button"> Add Edition </button>
                </a>
            </form>
        </div>

        <h3>Available book editions</h3>

        <div th:each="bookEdition,bookEditionStat: ${book.bookEditions}">
            <details open>
                <summary th:text="${bookEditionStat.index+1}+'. Publisher:  '+ ${bookEdition.publisher.name}
                + ', Date of publication:  ' +${bookEdition.publicationDate}"></summary>
                <br> <br>
                <a th:href="@{/books/__${book.id}__/editionUpdate/__${bookEdition.getId()}__}">
                    <button >Edit Book's Edition</button>
                </a>
                <br><br>
                <table style="width:550px;">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>State</th>
                        <th>Date of return</th>
                        <th>Reserved until</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bookCopy: ${bookEdition.bookCopies}">
                        <td th:text="${bookCopyStat.index+1}"></td>
                        <td th:text="${bookCopy.state}"></td>
                        <td th:text="${bookCopy.borrowedUntil}"></td>
                        <td th:text="${bookCopy.reservedUntil}"></td>
                        <td>
                            <form method="post" th:action="@{/books/__${book.id}__/changeStatus/__${bookCopy.id}__}">
                                <button name="state" th:if="${bookCopy.reservedUntil}==''" type="submit"
                                        value="reserve">Book&nbsp;it!
                                </button>
                                <button name="state" th:if="${bookCopy.state}!='Borrowed'" type="submit" value="lend">
                                    Lend&nbsp;book
                                </button>
                                <button name="state" th:if="${bookCopy.state} =='Borrowed'" type="submit"
                                        value="return">Return&nbsp;book
                                </button>
                                <button name="state" th:if="${bookCopy.reservedUntil}!= ''" type="submit"
                                        value="cancelReservation">Cancel&nbsp;reservation
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </details>
            <form method="post" th:action="@{/books/__${book.id}__/deleteEdition/__${bookEdition.id}__}">
                <button onClick="return confirm('Edition and all it's copies will be deleted. \nContinue?')"
                        type="submit"> Delete Edition
                </button>
            </form>
        </div>
    </section>
</main>
</body>
</html>