<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring-library-workshop: books</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_big-stone.css" rel="stylesheet">
</head>
<body>
<header>
    <div th:insert="~{menu::header}">
    </div>
</header>

<main style="background-color: #072B4F">
    <section style="margin-left: 10px;">
        <form method="POST" th:action="@{/publishers/update/__${publisherToUpdate.id}__}" th:object="${publisherToUpdate}">
            <h3>Edit publisher</h3>
            <fieldset>
                <input th:field="*{name}" type="text">
            </fieldset>
            <button type="submit">Save</button>
            <a th:href="@{/publishers/__${publisherToUpdate.id}__}">
                <button >Cancel</button>
            </a>
        </form>
        <h3>Books:</h3>
        <div th:each="book: ${publisherToUpdate.books}">
            <p><a th:text="${book.title}" th:href="@{/books/{bookId}(bookId=${book.id})}"></a>
            </p>
        </div>
    </section>
</main>
</body>
</html>